@charset "UTF-8";
/* CSS Document */

#wrapper {
	background-color: #D9D2BF;
	width: 1280px;
	height: 1027px;
	margin: 0 auto;
}
header{
	background-color: #331A1A;
	height: 120px;
}
#logo{
	float:right;
	padding:10px;
}
nav {
	font-family: 'Anton', sans-serif;
	background-color: #331A1A;
	padding-top: 80px;
}

nav li a:link{
	color: #FFF9DA;
	text-decoration: none;
	display: inline;
}

nav li a:hover{
	color: #FD9383;
}
nav ul li{
	display: inline;
	padding-left: 35px;
	margin-top: 50px;
	width: 500px;
}
nav li a:visited{
	color:#FDF7D9;
}
main{
	margin:0 auto;
	width:1280px;
	height: 860px;
}

h1 {
	font-family: 'Krona One', sans-serif;
	text-align: center;
	word-spacing: 2px;
	color: #FD9383;
	margin: 0 auto;
	padding-top: 45px;
	padding-bottom: 15px;
	padding-left:100px;
	padding-right: 100px;
	background-color:#331A1A;
	float: left;
	width:1080px;
}
h4 {
	color:#FFF9DA;
	font-family: 'Krona One', sans-serif;
	font-size: 1.3em;
	padding-left: 1px;
	padding-right: 35px;
	
}
#catering{
	width: 786px;
	height: 241px;
}

p {
	color:#331A1A;
	font-family: 'Quicksand', sans-serif;
	font-size: 0.9em;
}
#place {
	height: 241px;
	float: left;
}

article{
	width:775px;
	float: left;
	margin-top: 45px;
	margin-left: 65px;
	margin-bottom: 45px;
	padding-top: 73px;
	padding-bottom: 60px;
	padding-left: 45px;
	padding-right: 45px;
	background-color: #8B8067;
	
}
#people {
	float:left;
	width: 280px;
	height: 350px;
	margin-top: 45px;
	padding-left: 35px;
	
}

footer{
	clear: both;
	padding: 15px;
	width: 1250px;
	height: 15px;
	background-color: #FD9383;
	margin: 0 auto;
	color: #F1F0E0;
	font-family: 'Quicksand', sans-serif;
	font-size: 0.9em;
}
#clear {
	clear: both;
}
